@use "componets";

*{
  margin: 0;
  padding: 0;
}
@mixin fotos{
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  opacity: 0.5;
}

body{
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .message{
    z-index: 1;
    margin-left: 91%;
    margin-bottom: 5%;
  }
  .modelo-con-gafas{
    @include fotos();
    background-image: url(../assest/img/modelo-con-gafas.jpeg);
    transform: translate(20rem, 7rem);
  }
  .modelo-asiatica{
    @include fotos();
    background-image: url(../assest/img/modelo-asiatica.jpeg);
    transform: translateY(35rem);
  }
  .modelo-rubia{
    @include fotos();
    background-image: url(../assest/img/modelo-rubia.png);
    transform: translate(90rem, 13rem);
  }
  .modelo-masculino{
    @include fotos();
    background-image: url(../assest/img/modelo-masculino.jpeg);
    transform: translate(60rem, 36rem);
  }
}

@media (max-width: 414px) {
  .intro{
    max-width: 100%;
    .botones{
      width: 100%;
    }
  }
  .message{
    .btn-icon{
      margin-left: -100%;
    }
  }
}

