// Use sass
@use "../landing-page/componets";
// Fuente principal
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Ubuntu:wght@300;500;700&display=swap');
// font-family: 'Noto Sans', sans-serif;

// Fuente secundaria
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Poppins:wght@300;500&family=Ubuntu:wght@300;500;700&display=swap');
// font-family: 'Poppins', sans-serif;

// Colores
$primary-yellow: rgb(250,77,17);
$secondary-yellow: rgb(219, 121, 51);

// Fuentes
$fuente-pri: 'Noto Sans', sans-serif;
$fuente-sec: 'Poppins', sans-serif;

.nav{
  border: 1px solid rgb(205, 201, 201);
  margin: 0;
  padding: 0 2rem;
  .icons-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      margin:0 3rem;
      font-size: 2rem;
      &:hover{
        color: $secondary-yellow;
      }
    }
    .desplegable{
      padding: 0;
      margin: 0;
      button{
        border: none;
        &:focus{
          color: $secondary-yellow;
        }
      }
      ul{
        li:hover{
          color: white;
          background-color: $secondary-yellow;
          cursor: pointer;
        }
      }
    }
  }
}
.container{
  margin-top: 2rem;
  .intro{
    h4{
      color: black;
    }
    p{
      color: black;
    }
  }
}


